.student-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selector-media {
    height: 12rem;
    width: 12rem;
    border-radius: .5rem;
}

.selector-title {
    font-weight: bold;
}

.selector-wrapper {
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.selector-wrapper:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.158);
}
